.summary {
  font-size: 16px;
}

#checkbox input {
  width: 20px;
  height: 20px;
}

#checkbox input:checked {
  background-color: #db3022;
}

#checkbox label {
  margin-left: 5px;
}

.method {
  font-size: 16px;
}
