.bg-lightGray {
  background-color: #F5F5F5;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../assets/font/Metropolis-Regular.otf');
}

body {
  font-family: 'Metropolis' !important;
}

.fs-09 {
  font-size: 0.9rem !important;
}

.text-gray2 {
  color:#9B9B9B;
}

.col-flexauto {
  flex: 0 0 auto;
}

input[type=text], input[type=number], input[type=email] {
  width:100%; 
  height:100%; 
  border: 1px solid #9B9B9B; 
  border-radius:5px;
}

.btn-save {
  width:100px;
  height:36px;
  background-color: #DB3022;
  color:white;
  border:none;
  font-size: 0.9rem;
  border-radius:24px;
  padding-top: 2px
}

.btn-save:hover {
  background-color: #f74141 ;
}

.btn-save:active {
  background-color: #DB3022 ;
}

.btn-selectImage {
  width:140px;
  height:36px;
  background-color: white;
  color:#9B9B9B;
  border: 1px solid #9B9B9B;
  font-size: 0.9rem;
  border-radius:24px;
  padding-top: 2px
}

.btn-selectImage:hover {
  background-color: #eeeded ;
}

.btn-selectImage:active {
  background-color: white;
}

.item-color {
  width: 40px;
  height: 40px;
  border-radius:50%;
}

/* Responsive */

/* > 1024px */
.sidebar2 {
  width:62%; 
  margin-left: 38%;
}

.width-personal {
  width:21%;
}

.height-content {
  height:900px;
}

.content {
  height:72%; width:89%; margin-left:5%; border-radius: 5px; margin-top:15%
}
.form-profile {
  height:500px; width:70%;
}
.change-image {
  display:flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height:170px; width:30%; border-left: 1px solid #D4D4D4;
}
.update-image {
  display:none;
}

@media screen and (max-width: 1024px) {
  /* Laptop */
  /* body {
    background-color: lightgreen;
  } */

  .sidebar2 {
    width:62%; 
    margin-left: 3rem;
  }

  .width-personal {
    width:26%;
  }
}

@media screen and (max-width: 768px) {
  /* Tablet */
  /* body {
    background-color: pink;
  } */

  .height-content {
    height:1000px;
  }

  .content {
    height:84%; width:89%; margin-left:5%; border-radius: 5px; margin-top:15%
  }

  .form-profile {
    height:500px; width:100%;
  }

  .change-image {
    display:none;
  }

  .update-image {
    display:flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height:170px;
    margin-bottom: 2rem;
  }

  .centering {
    display:flex;
    flex-direction: column;
    align-items: center;
  }  
}

@media screen and (max-width: 425px) {
  /* Mobile L */
  /* body {
    background-color: orange;
  } */
  
}