@font-face {
	font-family: "Metropolis";
	src: url("../../../assets/font/Metropolis-Regular.otf");
}

#page-profile {
	font-family: "Metropolis" !important;
}

#page-profile .profile {
  display: flex;
  flex-direction: row;
	height: 900px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	#page-profile .profile {
		height: 1100px;
	}
}



